<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Tantárgyak</title>
</head>
<body id="body-style">
    <main>    
            <div class="navbar">
                <div class="profile">
                    <img src="/profile_icon.png" class="leftside">
                    <a>
                        <% if (typeof tokenObject !== 'undefined') { %>
                        <%= tokenObject.username %>
                        <% } else { %>
                        vendég!
                        <% } %>
                    </a>
                    <% if (typeof tokenObject !== 'undefined') { %>
                    <form action="/auth/logout" method="post" class="rightside">
                        <button type="submit" class="downside"><img id="logoutpic" src="/logout.png"></button>
                    </form>
                    <% } else { %>
                    <form action="/auth/login" method="get" class="rightside">
                        <button type="submit" class="downside"><img id="loginpic" src="/login.png"></button>
                    </form>
                    <% } %>
                </div>
                

                <a class="active" href="/">Főoldal</a>
                <% if (typeof tokenObject !== 'undefined') { %>
                    <% if (tokenObject.username === 'admin') { %>
                    <a href="/classjoinleave">Csatlakozás</a>
                    <a href="/ujtargy">Új tárgy</a>
                    <a href="/ujfelhasznalo">Új felhasználó</a>
                    <% } %>
                <% } %>
                <% if (typeof tokenObject !== 'undefined') { %>
                    <% if (tokenObject.username !== 'admin') { %>
                    <a href="/orarend">Saját órarend</a>
                    <% } %>
                <% } %>

            
            
            </div>

            <div class="box-bg-dark box-textbox">
                <form id="searchform" method="POST" action="/sajat/search/<%= tokenObject.id %>">
                    <input type="text" name="nametantargy" placeholder="Tárgy név"/>
                    <input type="submit" value="Keresés"/>
                </form>    
            </div>
              
            <div class="box-bg-dark box-textbox" >
                <% tantargyak.forEach((item) => { %>
                <div>
                    <fieldset class="fldset-class" id="<%= item.targyKod%>" >
                            <legend class="legend-class"><%= item.targyNeve %></legend>
                            <ul class="targylist">
                                <li>Évfolyam: <%= item.evfolyam %></li>
                                <li>Kurzusok száma: <%= item.kurzusokSzama %></li>
                                <li>Szemináriumok száma: <%= item.szeminariumokSzama %></li>
                                <li>Laborok száma: <%= item.laborokSzama %></li>
                            </ul>
                            <a href="/targyak/<%= item.targyKod%>"><img src="/syllabus.png" id="icon-in-right-side"></a>
                            <img src="/arrow_down.png" id="icon-in-the-corner" onclick="showFilesOfClass('<%= item.targyKod%>')">
                    </fieldset> 
                    <% }); %>
                </div>
            </div>
    </main>

    <script src="/script.js"></script>

    <footer>
            <p>@ Vén Gergő-Tivadar</p>
    </footer>
</body>
</html>